<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-ios-dynamic-type" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-ios-dynamic-type</name>
    <js-module name="DynamicType" src="www/DynamicType.js">
        <clobbers target="cordova.plugins.DynamicType"/>
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="DynamicType">
                <param name="ios-package" value="DynamicType"/>
            </feature>
        </config-file>
        <source-file src="src/ios/DynamicType.m"/>
    </platform>
</plugin>